//---------- Colors //

    // Base Palette
      $site-base-light-color: #FFFFFF;      // Main BG Color
      $site-base-primary-color: #000000;    // Main Font Color

// Colors -------------//

// Font Sizes
  $primary: 1em; // Small font size (paragragh)
  $secondary: 1.5em; // Mid font size (secondary heading)
  $heading: 2em; // Title font size (headings)


// Desktop Padding Size (to keep consistent & change all at once)
  $desktop-padding: 2.5em;
